body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: "Vazirmatn", sans-serif;
}

/* محفظه اصلی */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ویدئو */
.video-box {
    width: min(100%, 420px);
    aspect-ratio: 9 / 16;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* خود ویدئو */
.video-box video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 18px;
}

/* کارت */
.card {
    width: min(100%, 420px);
    box-sizing: border-box;
    background: #ffffffdd;
    padding: 20px;
    margin: 25px auto 0;
    border-radius: 18px;
    backdrop-filter: blur(8px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.insta-footer {
  text-align: center;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'IRANYekan', sans-serif;
}

.insta-footer a {
  text-decoration: none;
  color: #62754f;
  font-size: 16px;
  font-weight: 500;
}
/* موبایل‌های کوچک */
@media (max-width: 380px) {

    .container {
        padding: 15px;
    }

    .header-text {
        font-size: 1.8rem;
    }

    #countdown span {
        font-size: 1.2rem;
    }

    #countdown small {
        font-size: 0.7rem;
    }
}